@mixin darkmode {
	color: white;
	background: #0f0f0f;

	hr { border-top: 1px solid #7f7f7f; }
	table, th, td { border: thin solid white; }
	blockquote { border: thin solid white; }
	p code { background-color: #1f3f7f; }
	pre code { border: 1px solid white; }
	
	a {
		color: #6f9fff;
		&:hover {
			color: black;
			background-color: #6f9fff;
			outline: 3px solid #6f9fff;
		}
	}

	*:target {
		background: #0f3f1f;
		a {
			color: white;
			&:hover {
				color: black;
			}
		}
	}
}

@font-face {
	font-family: 'D2Coding';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

html {
	height: 100%;
	background: white;
}

body {
	color: black;
	background: white;
	font-family: 'D2Coding';
	font-size: 16px;
	line-height: 1.4;
	margin: 0;
	min-height: 100%;
	overflow-wrap: break-word;

	&[a="dark"] { @include darkmode; }
	@media (prefers-color-scheme: dark) {
		&[a="auto"] { @include darkmode; }
	}
}

.post-meta { text-align: right; }

h2, h3, h4, h5, h6 { margin-top: 3rem; }

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

a {
	color: #3f7fff;
	text-decoration: none;

	&:hover {
		color: white;
		background-color: #3f7fff;
		outline: 3px solid #3f7fff;
	}
}

*:target {
	background: #3fff7f;
	a {
		color: black;
		&:hover {
			color: white;
		}
	}
}

.w {
	max-width: 1280px;
	margin: 0 auto;
	padding: 4rem 2rem;
}

hr {
	border: 0px;
	border-top: 1px solid #000;
	text-align: center;
}

table { width: 100%; }

table, th, td {
	border: thin solid black;
	border-collapse: collapse;
	padding: 0.4rem;
}

p code { background-color: #e7efff; }
pre code { border: 1px solid black; }

div.highlighter-rouge code {
	display: block;
	overflow-x: auto;
	white-space: pre-wrap;
	padding: 1rem;
}

blockquote {
	font-style: italic;
	border: thin solid black;
	padding: 1rem;
	p { margin: 0; }
}

img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}