---
layout: default
---

{%- include back_link.html -%}

<article>
  <p class="post-meta">
    <time datetime="{{ page.date }}">{{ page.date | date: site.theme_config.date_format }}</time>
  </p>
  
  <h1>{{ page.title }}</h1>
  {%- if page.tags -%}
    tags : 
    {%- for tag in page.tags -%}
      {% if site.data.tags contains tag %}
        <a href="/tag-archive/?tag={{ tag }}">#{{ tag }}</a>
      {% endif %}
    {%- endfor -%}
  {%- endif -%}

  {{ content }}
</article>

<hr>

<script src="https://giscus.app/client.js"
  data-repo="mhcoma/mhcoma.github.io"
  data-repo-id="MDEwOlJlcG9zaXRvcnkyMDQxMjMyODc="
  data-category="Announcements"
  data-category-id="DIC_kwDODCqsl84CV1Vc"
  data-mapping="url"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="top"
  data-theme=
    {%- if site.theme_config.appearance == "auto" -%}
      "https://raw.githubusercontent.com/mhcoma/mhcoma.github.io/gh-pages/assets/built/giscus.css"
    {%- else if site.theme_config.appearance == "light" -%}
      "light_high_contrast"
    {%- else -%}
      "dark_high_contrast"
    {%- endif -%}
  data-lang="ko"
  crossorigin="anonymous"
  async>
</script>